@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@400;700&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;700&family=Lato:wght@300;400&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;500&family=Bebas+Neue&family=Hind:wght@300;400;700&family=Lato:wght@300;400&family=Red+Hat+Display:wght@300;400;500&family=Roboto:wght@300;400;500&family=Teko:wght@300;400&display=swap');


body {
    font-family: 'Red Hat Display';
    background-color: #f7eee5;
    overflow: overlay;
  }

  /* width */
  #chat::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #chat::-webkit-scrollbar-track {
    background: #121722; 
  }
   
  /* Handle */
  #chat::-webkit-scrollbar-thumb {
    background: #454a4d; 
  }
  
  /* Handle on hover */
  #chat::-webkit-scrollbar-thumb:hover {
    background: #575e62; 
  }

video::-webkit-media-controls-fullscreen-button {}
video::-webkit-media-controls-play-button {display: none;}
video::-webkit-media-controls-timeline {display: none;}
video::-webkit-media-controls-current-time-display{display: none;}
video::-webkit-media-controls-time-remaining-display {display: none;}
video::-webkit-media-controls-mute-button {display: none;}
video::-webkit-media-controls-toggle-closed-captions-button {display: none;}
video::-webkit-media-controls-volume-slider {display: none;}

#in {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: inradius;
}
@keyframes inradius {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#arrow{
  transform : rotate(-90deg);

}
:hover#arrow{

  animation-name: radius;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
@keyframes radius {
  0% {transform : rotate(-90deg);}
  100% {transform : rotate(270deg);}
}

::-webkit-scrollbar {
  width: 15px;
 
}


::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 12px; 

}

