@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@400;700&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;700&family=Lato:wght@300;400&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;500&family=Bebas+Neue&family=Hind:wght@300;400;700&family=Lato:wght@300;400&family=Red+Hat+Display:wght@300;400;500&family=Roboto:wght@300;400;500&family=Teko:wght@300;400&display=swap');


body {
    font-family: 'Red Hat Display';
    background-color: #f7eee5;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121722; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #454a4d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #575e62; 
  }

  video::-webkit-media-controls-fullscreen-button {}
video::-webkit-media-controls-play-button {display: none;}
video::-webkit-media-controls-timeline {display: none;}
video::-webkit-media-controls-current-time-display{display: none;}
video::-webkit-media-controls-time-remaining-display {display: none;}
video::-webkit-media-controls-mute-button {display: none;}
video::-webkit-media-controls-toggle-closed-captions-button {display: none;}
video::-webkit-media-controls-volume-slider {display: none;}